.top-bar{
    /* background-color:rgb(181, 241, 243); */
    width:100%;
    height:20px;
}


@keyframes image-1{
    0%   {transform: translateY(-5px);}
    25% { transform: translateY(-25px); }
    70% { transform: translateY(-10px); }
    100% { transform: translateY(-5px); }
  }
.submit,.submit1{
    background-color: rgb(124, 9, 190); /* Green */
    border: none;
    color: white;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-size:20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border-radius: 10px;

}
.university-output,.college-output{
    margin-top: 0;
}
.about-name2{
    margin-top: 0px;
}
.university-course-output,.college-course-output{
    margin-bottom: 0;
    margin-top: 0;
}
.university-year-output{
    margin-top: 0;
    color:rgb(3, 40, 49);
}
.college-year-output{
    margin-top: 0;
    color:rgb(3, 40, 49);
}
.submit1{
    background-color: rgb(255, 255, 255); /* Green */
    color:black;
    border-radius: 6px;
    border: 2px solid rgb(0, 0, 0);
}
.main{
    background-color:rgb(255, 255, 255);
    width:98%;
    margin:auto;
    height:3115px;
    position: relative;
    margin-bottom:50px;
}

.welcome-page{
    width:100%;
    height:600px;
    /* background-color:rgb(0, 255, 255); */
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.welcome-title{
    font-size:70px;
    font-family: 'Poppins', sans-serif;
    font-weight:600;
    margin-left:30px;
}

.welcome-image{
    width:700px;
    height:600px;
    object-fit: cover;
    animation-name:image-1;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    
    
}
.image-1{
    margin-top:40px;
    width:701px;
    height:531px;
    
}
.welcome-button{
display: flex;
margin-left:30px;
margin-top:30px;
}

.start{
    width:150px;
    height:40px;
    margin-right:60px;
}

.info{
    width:150px;
    height:40px;
    
}
.details-main{
    width:100%;
    height: 500px;
    /* background-color:rgb(194, 194, 194); */
}

.profile{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* background-color: red; */
    width:400px;
    height:500px;
}
.profile-picture{
    width:200px;
    height:200px;
    background-color:rgb(245, 244, 244);
    /* border-radius: 100%; */
    margin-top:50px;
    width: 100%;
    height:100%;
    object-fit: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px 300px;
    
    
}

.add-photo{
    margin-top: 20px;
    margin-bottom:50px;
    width:250px;
    height:40px;
    
    color:rgb(0, 0, 0);
    font-size: 18px;
    font-weight:600;
    border:1px solid rgb(209, 209, 209);
}
.details-main{
    display: flex;
    justify-content: space-around;
}

.names{
    display: flex;
    margin-bottom:30px;
}

.details{
    margin-top:80px;
    margin-right:20px;
}
.first-name{
    margin-right:50px;

}
.catchy-title{
    margin-bottom:20px;
}

.fn,.lnn{
    width:278px;
    height:44px;
    border: 2px solid rgb(199, 199, 199);
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight:600;
    font-size: 25px;
    padding-left:15px;
}

.ct{
    font-size: 25px;
    width:630px;
    height:44px;
    border: 2px solid rgb(199, 199, 199);
    border-radius: 10px;
    margin-top:10px;
    font-family: 'Poppins', sans-serif;
    font-weight:600;
    padding-left:15px;
}
.b{
    width:630px;
    height:70px;
    border: 2px solid rgb(199, 199, 199);
    border-radius: 10px;
    margin-top:15px;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight:600;
    padding-left:15px;

}

.first-name-text,.last-name-text,.catchy-title-text,.bio-text{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.enter-details{
    font-size: 40px;
    font-weight: 600px;
    margin-left:70px;
    margin-top:0;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;

}

.location-details{
    height:250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}
.location{
    background-color: rgb(197, 195, 195);
    width: 100%;
    height:500px;
}

.ln,.em,.li{
    width:278px;
    height:44px;
    border: 2px solid rgb(199, 199, 199);
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight:600;
    font-size: 25px;
    padding-left:15px;
    margin-bottom:20px;
}
.location-name-text,.email-name-text,.linkedin-name-text{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.image-location{
    width:617px;
    height:452px;
}

.location{
    width:80%;
    margin: auto;
    display:flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
}

.location-picture{
    width:644px;
    margin-bottom:10px;
    height:482px;

}

.education{
display:flex;
justify-content: space-around;
width: 80%;
height:400px;
background-color: rgb(255, 255, 255);
margin:auto;
border:2px solid rgb(138, 13, 211);
border-radius:10px;
}

.btn-center,.btn-center1{
    width:50%;
    height:100px;
    margin-top: 40px;
    margin-left: 500px;
}

.name-name-text,.course-name-text,.year-name-text{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.name-name,.year-name,.course-name{
    margin-top:40px;
}

.na,.co,.ye,.na1,.co1,.ye1{
    width:278px;
    height:44px;
    border: 2px solid rgb(199, 199, 199);
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight:600;
    font-size: 25px;
    padding-left:15px;
}
.enter-details1{
    text-align: center;
    font-size:30px;
    font-family: 'Poppins', sans-serif;
    font-weight:600;
    
}
.enter-details2{
    text-align: center;
    font-size:30px;
    font-family: 'Poppins', sans-serif;
    font-weight:600;
    margin-top:100px;
    
}




.start{
    background-color: rgb(124, 9, 190);
    color:white;
    font-size: 18px;
    border-radius: 10px;
    font-weight:600;
    border:1px solid rgb(124, 9, 190);
    
}
.info{
    background-color: white;
    color:black;
    font-size: 18px;
    border-radius: 10px;
    font-weight:600;
    border:1px solid rgb(209, 209, 209);
}

.laptop{
    position: absolute;
    width:100px;
    height:100px;
    left:1043px;
    top:2166px;
    animation-name:image-1;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
}
.down{
    color:white;
    text-decoration: none;
}
.clock{
    position: absolute;
    width:100px;
    height:100px;
    left:1043px;
    top:2166px;
    animation-name:image-1;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
}
.target{
    position: absolute;
    width:100px;
    height:100px;
    left:978px;
    top:358px;
    
}

.skills{
    /* background-color:red; */
    width:80%;
    height:400px;
    margin:auto;
    border:2px solid rgb(219, 219, 219);
    border-radius:10px;
}

.skills{
    display:flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.skill-image{
    width:611px;
    height:476px;
}

.hurray-image{
    width:611px;
    height:476px;}

.skill1,.skill2,.skill3,.skill4{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    width:150px;
    border-radius:10px;
    border:2px solid rgb(151, 151, 151);
    padding-left:10px;
}

.board{
    position: absolute;
    width:200px;
    height:150px;
    left:173px;
    top:2303px;
    animation-name:image-1;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
}
.settings-1{
    height:100px;
    display: flex;
    width: 850px;
    justify-content: space-around;
    margin:auto;
    margin-top: 40px;
}
.heading1,.background2,.font3{
    width:254px;
    height:52px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding-left:10px;
}
.settings{
    width:85%;
    height:202px;
    background-color: rgb(255, 236, 207);
    margin-top: 100px;
    margin: auto;
    
}
.set{
    margin-top:30px;
    font-family: 'Poppins', sans-serif;
    margin:auto;
    font-size: 30px;
    margin-left:100px;
    margin-top:30px;
    padding-left:320px;
    padding-top: 20px;
    
}
.final{
    width:98%;
    margin:auto;
    height:660px;
    background-color: rgb(255, 255, 255);
    position:relative;
    margin-top: 120px;
    font-family: 'Poppins', sans-serif;

}

.thumbnail{
    width:100%;
    height:140px;
    background-color: rgb(204, 204, 204);
}
.profile-output{
    position:absolute;
    width:140px;
    height:140px;
    background-color:rgb(255, 166, 0);
    top:85px;
    left:55px;
    border-radius: 100%;
    background-size: 140px 140px;
    background-repeat: no-repeat;
    background-position: center;
    
}

.about{
    display: flex;
    padding-left:20px;
    margin-top:1px;
    margin-left:200px;
    width:1060px;
    height:100px;
    display: relative;
    
    
}

.a3{
text-align: left;
/* margin-left: -50px; */
}
.bio-details{
    
    
    /* background-color: red; */
    width: 86%;
    height:120px;
    margin:auto;
    
}
.amout-me-width{
    width:250px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin-right:100px;
    margin-left:0px;
   
}


hr{
    height: 1px;
    background-color: rgb(196, 196, 196);
    border: none;
}
.bio-details1{
    /* background-color: red; */
    display: flex;
    width: 90%;
    height:175px;
    margin:auto;
    justify-content: center;
    
}

.education-1,.education-2{
    width:400px;
    height:100%;
    
    margin-right:30px;
    border-radius: 10px;
    
    border: 2px solid rgb(202, 202, 202);
}
.edu{
    width:150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right:100px;
    padding-left:px; 
    
    
    
}
.do{
    padding-left:40px;
}

.skills-output{
    width:90%;
    margin:auto;
    height:65px;
    margin-top: 10px;
    /* background-color: red; */
}

.about-name{
    margin-top:9px;
    margin-bottom: 0;
}
.pop{
    width:100%;
    height:50px;
    background-color: rgb(255, 255, 255);;
}



.a4{
    width:1100px;
    font-size: 15px;
    color: rgb(41, 41, 41);
}

.skills-output{
    display: flex;
    margin-top: 20px;
}

.actual-skills{
    margin-left:100px;
    width:700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.skil{
    width:200px;
    padding-left:50px;
}
.am{
    width:700px;
}
.logo{
    
    display: flex;
    justify-content: center;
    align-items: center;

}

.s1-text,.s2-text,.s3-text,.s4-text{
    padding: 10px;
    border-radius: 10px;
    border:2px solid rgb(192, 192, 192)
}
.loc-logo,.email-logo,.linkedin-logo{
    margin-left:23px;
    margin-right: 4px;
    width:50px;
    height:50px;
    /* background-color: red; */
}

.apple-1,.appl2,.apple3{
    object-fit:contain;
    width:100%;
    height:100%

}
.year-output{
    padding-bottom: 15px;
    text-align:right;
    padding-right:10px;
}

.one{
    margin-top: 10px;
    display: flex;
}

.scholar{
    margin-top:30px;
    width:150px;
    height: 100px;
    margin-right: 10px;
}
.scholar-1{
    object-fit:contain;
    width:100%;
    height:100%
}

.college-year-output{
    text-align: right;
    padding-right:20px;
    padding-bottom:10px;
    margin-bottom:0;
    margin-top:0px;
}

.university-year-output{
    text-align: right;
    padding-right:20px;
    padding-bottom:10px;
    
}